body {
    text-align:center;
    margin-top:100px;

}
h1{
    text-align:left;
    margin-bottom:30px;
}
p{
    color:black;
    text-align:center;
}
.box{
    height :50px;
    width:500px;
    border:blueviolet;
    background-color:yellow ;
    border: 30px solid blue;
    padding:30px;
    margin-left:auto;
    margin-right:auto;
    margin:40px;
    text-align:center;
    
}