.container {
    display: flex;
    height:570px;
    width:64px;
    background-color:gray;
    /* flex-direction:column-reverse; */
    flex-wrap:wrap-reverse;
}

.item {
    height:100 px;
    width:100 px;
    border:1px solid black;
    background-color:plum;
}