body {
    background-color: palegreen;
}
.container {
    display:flex;
    flex-direction:row;
    height:300px;
    width:600px;
    /* flex-wrap:wrap; */
    gap:30px;
    justify-content:space-around;
    align-items:center;
    align-content:stretch;
}

.item5 {
    order:7;
    flex-grow:7;
}
.item6 {
    order:5;
    flex-grow:2;
}
.item7 {
    order:6;
    flex-grow:3
}