h2 {
    text-align:left;
}
body {
    background-color:rgb(66, 141, 66)
}
img {
    float:left;
    width:640px;
    height:570px;
    margin-left:8px;

    }
p {
background-color:rgb(133, 75, 188);
display:inline-block;
}