.container {
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px dotted purple;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    /* grid-template-areas: 
        "header header header header" 
        "main main . sidebar" 
        "footer footer footer footer"; */
        gap:10px;
        justify-items:center;
        align-items: center;
        justify-content: center;

}

.item {
    background-color: brown;
    border: 1px solid black;
    color: white;
    text-align: center;
    align-content: center;
    height:100px;
    width:100px;
}

/* .item1 {
    grid-area: header;
}

.item2 {
    grid-area: main;
}

.item3 {
    grid-area: sidebar;
}

.item4 {
    grid-area: footer;
} */
