.box {
    height:100px;
    width:100%;
    background-color: lavender;
}
@media(min-width:768px){
    .box{
        background-color:lightcoral;

    }
}
@media(min-width:1024px){
    .box{
        background-color:lightseagreen;

    }
}