nav {
    display:flex;
    justify-content: space between;
    align-items:center;
    background-color:black;
    padding:1rem;
}
.logo {
    color:violet;
    font-size:1rem;
}
.menu{
    display:none;
    flex-direction:column;
    background-color:blanchedalmond;
    width:200px;
}
.hamburger {
    font-size:2rem;
    color:turquoise;
    cursor:pointer;
}

@media(min-width:768px){
    .menu{
        display:flex;
        flex-direction:row;
        background-color:blanchedalmond;
        width:auto;
    }
    .hamburger {
        display:none;
    }
}