.box1 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border: 2px solid rgb(242, 255, 0);
    margin: 10px;
}

.box2 {
    width: 150px;
    height: 150px;
    background-color: lightgreen;
    border: 3px dashed rgb(255, 0, 255);
    margin: 15px;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    border: 4px dotted rgb(0, 0, 0);
    margin: 20px;
}

.box4 {
    width: 250px;
    height: 250px;
    background-color: lightyellow;
    border: 5px solid rgb(0, 255, 255);
    margin: 5px;
}